.cardy{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.cardy-b{
    display: flex;
    justify-content: center;
    align-items: center;
}
.m-right{
    margin-right: 1rem;
}